{% extends 'base.html.twig' %}

{% block title %}Wall - Time Capsule{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/wall.css') }}">
{% endblock %}

{% block body %}
<header class="bd-header py-3 d-flex align-items-stretch border-dark sticky-top" style="background:linear-gradient(#12b90e, #12b90ef7);">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand text-white fs-4" href="{{ path('app_home') }}">Time capsule</a>
    </div>
</header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-8 col-xl-6">
                <h1>Events</h1>
            </div>
        </div>
        {% for milestone in milestones %}
        <div class="row justify-content-center mb-3">
            <div class="col col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-img-top border-bottom text-center">
                        {% if milestone.coverPhoto %}
                        <img src="{{ path('app_attachment_stream', { fileId: milestone.coverPhoto.fileId }) }}" class="card-img" alt="Event photo">
                        {% else %}
                        <img src="{{ asset('assets/gfx/landscape.svg') }}" class="cover-placeholder" alt="Event photo placeholder">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ milestone.title }}</h5>
                        <h6 class="card-subtitle text-body-secondary mb-2">24-26 Dec '24</h6>
                        <p class="card-text">{{ milestone.description }}</p>
                    </div>
                    <div class="card-footer text-end">
                        <small class="text-body-secondary">24-26 Dec '24</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
{% endblock %}
